.menu{
    display:grid;
    grid-template-columns: 93% 2% 5%;
    grid-template-rows: 50px;
    background: linear-gradient(0.25turn, #476569, #417bb0);         
    align-items: center;
}
.menu{
    grid-column: 1 / 2;
}
.deconexion{
    grid-column: 2 / 3;
}
.icone_connexion{
    grid-column: 3 / -1;background-color: line;
}


.corp{
    display:grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100vh;
}
.partie_gauche{
    background-color: red;
       
}
.partie_droite{
    background-image: url("msn.jpg");
    background-size: cover; 

}
.derniersMessages_blocMessage{
    display:grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 25px auto;
margin: 1em;
}
.derniersMessages_blocMessage:hover{
    scale: 1.5;
    background-color: rgba(246, 246, 246, 0.5);
}
.derniers_messages{
    display:grid;
    grid-template-columns: repeat(7,330px);
    grid-template-rows: repeat(2,250px);
    vertical-align: middle; align-items: center;

}
.derniersMessages_timestamp {
    grid-column: 1 / 2;
    grid-row: 1 / 2;border: 1px solid black;
}
.derniersMessages_sujet{
    grid-column: 2 / 3;
    grid-row: 1 / 2;border: 1px solid black;text-align: center;
}
.derniersMessages_pseudo{
    grid-column: 3 / 4;
    grid-row: 1 / 2;border: 1px solid black;
}
.derniersMessages_icone{
    grid-column: 1 / 2;
    grid-row: 2 / -1;border: 1px solid black;
}
.derniersMessages_messages{
    grid-column: 2 / -1;
    grid-row: 2 / -1;border: 1px solid black;
}