:root{
    --font-color: #12368D;
    --link-color: #0002FD;
    --border-color: #8398BD;
    --border-color-dark: #4C6D9E;
}
/*
*,
*:before,
*:after {
    box-sizing: border-box;
    overflow: hidden;
}

body {            /* 1.1 Arriere plan */
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN 
        background-image: url(labyrintheBrique.jpg);
        background-size: cover;*/
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES 
}*/

.P1_app {
width: 280px;
border: 1px solid var(--border-color);
border-radius: 10px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
color: var(--font-color);
font-family: sans-serif;
font-size: 11px;

margin: 28vh auto;background-color: white;
}	

.P1_app label,
.P1_app select {
margin: auto;
display: block;
}

.P1_app input {
border: 1px solid var(--border-color);
}

.P1_app__section {}


.P1_app__icon__expand {
border-radius: 50%;
background: white linear-gradient(200deg, white 25%, #B1C9E2 75%, #9DB2D7 );
border: 1px solid var(--border-color);
display: inline-block;
transform: rotate(-90deg);
padding: 1px;
font-family: monospace;
font-size: 9px;
font-weight: bolder;
position: relative;
top: 0;
}


.P1_app__frame {
padding: 5px;
background: white linear-gradient(to bottom, white, #EEF2F6, #DFE7EF, #CADAEB, #DFE7EF, #EEF2F6, white);
text-align: center;
position: relative;
}	
.P1_app__frame--bg {
width: 150px;
position: absolute;
bottom: 1em;
right: 0.25em;
opacity: 0.15;
z-index: 1;
}


.P1_app__title {
margin-bottom: 2em;
text-align: left;
font-weight: bolder;
background: white linear-gradient(to bottom, #C0D4E9, #ECF0F4, #F8F8F8);
padding: 0 3px 0 3px;
border: 1px solid white;
border-radius: 10px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}
.P1_app__title--logo {
width: 36px;
height: auto;
position: relative;
top: 3px;
}

.P1_app__title--main {}



.P1_app__profile--image {
width: 98px;
height: auto;
margin: auto;
margin-bottom: 0.75em;
border-radius: 10px;
border: 1px solid var(--border-color-dark);
}



.P1_app__login-inner {
text-align: left;
padding: 0 4em;
margin: auto;
}
.P1_app__login-inner--select {
margin-bottom: 1.5em;
}
.P1_app__login-inner--select select,
.P1_app__login-inner--select label {
vertical-align: bottom;
display: inline-block;
}



.P1_app__login-inner--checkbox label {
display: inline-block;
vertical-align: text-bottom;
}

.P1_app__login-inner--checkbox label input[type="checkbox"] {
-webkit-appearance: none;
background: white linear-gradient(125deg, #DBDBDB, white 75%);
padding: 6px;
border: 1px solid var(--border-color);
display: inline-block;
position: relative;
top: 4px;
}	
.P1_app__login-inner--checkbox label input[type="checkbox"] :checked {
background-color: #e9ecee;
border: 1px solid var(--border-color);
color: #333;
}

.P1_app__login-inner--checkbox label input[type="checkbox"] :checked:after {
content: '\2714';
font-size: 10px;
position: absolute;
top: -1px;
left: 2px;
font-weight: bolder;
color: #43ae43;
}


    
.P1_app__login-button {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 3em;
    display: block;
    padding: 0.25em 1.5em;
    border: 1px solid #064381;
    color: #064381;
    border-radius: 3px;
    box-shadow:
        inset -1px -2px 0 0 orange,
        inset 1px 1px 0 0 orange,
        -2px -1px 3px 0 rgba(0,0,0,0.35);
    font-weight: bold;
    font-family: "MS Reference Sans Serif", "Arial";
    font-size: 11px;
    line-height: 1.5;
    background: white linear-gradient(to bottom, white, #D9E1FA);
    cursor: pointer;
    z-index: 3;
    position: relative;
}

#blocSaisieMail {
    padding: 3px 5px;
    margin-bottom: 1em;
}

.P1_app__login--pass {
    padding: 3px 5px;
    margin-bottom: 1em;
}	
.P1_app__login--pass:active {
    background: transparent;
}


.P1_app__login--status {
    border: 1px solid transparent;
    background: none;
    color: var(--font-color);
    font-size: inherit;
    font-family: inherit;
}		
.P1_app__login--status:focus {
    outline: none;
    background: white;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    box-shadow: -1px -2px 3px 0 rgba(0,0,0,0.5);
}


.app__login label {
    line-height: 1.5;
}

.P1_app__login-link {
    display: block;
    line-height: 1.75;
    color: var(--link-color);
    text-align: left;
}
.P1_app__login-link--container {
    position: relative;
    z-index: 2;
    padding-left: 2em;
    padding-right: 2em;
}

.P1_app__login-link--forgot-pass {}

.P1_app__login-link--service-status {
    display: inline-block;
    text-decoration: none;
}

.P1_app__login-link--new-account {
    display: inline-block;
    float: right;
    clear: both;
}



.app__footer {
margin-top: 4em;
text-align: left;
}
.P1_app__footer--credits {
margin: 0;
margin-left: 3px;
margin-bottom: 3px;
}



.app__input--text {
width: 100%;
margin-bottom: 0.75em;
}




.P1_app__notification {
display: none;
position: absolute;
z-index: 5;
bottom: 0;
right: 18px;
width: 180px;
padding: 1px;
background: white;
border: 1px solid #A6B4CF;
border-right-color: #455690;
border-bottom-color: #455690;
box-shadow:
    inset 1px 1px 0 0 white,
    inset -1px -1px 0 0 #CFDEF4;
color: var(--font-color);
font-family: sans-serif;
font-size: 11px;

animation: notification-pop-up 0.5s ease-in forwards;
}


@keyframes notification-pop-up {
    0% {
        height: 0;
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1; 
        transform: translateY(0);
    }
}

.P1_notification-username{
font-weight: bold;
font-size: 15px;
}



.P1_app__notification__close {
    cursor: pointer;
    background: #E6440D linear-gradient(160deg, rgba(255,255,255,0.5), #E6440D);
    color: white;
    position: absolute;
    right: 0;
    font-weight: bolder;
    font-size: 9px;
    line-height: 1;
    border: 1px solid transparent;
        border-bottom-color: #C23D1B;
        border-right-color: #C64423;
        border-left-color: #E35F3E;
        border-top-color: #E66D50;
    margin: 3px 4px;
    padding: 2px 3px;
        font-family: monospace;
        border: 1px solid white;
        border-radius: 1px;
}

.P1_app__notification__title {
    color: var(--font-color);
    line-height: 2;
        padding-left: 4px;
        padding-right: 4px;
    background: white linear-gradient(to bottom, #CFD7EC, white 40%, #CADAF3 90%);
}	
    .P1_app__notification__title--icon {
        width: 13px;
        height: auto;
        position: relative;
        top: 2px;
    }


.P1_app__notification__inner {
    border: 1px solid #728EB8;
        border-bottom-color: #B9C9EF;
        border-right-color: #B9C9EF;
    background: white linear-gradient(to bottom, #CFDDF4, white 17%, #D5E1F5, #EBF0FA);
        height: 100px;
    
        margin-right: 3px;
        text-align: right;
    }	
        .P1_app__notification__inner--logo img {
            width: 41px;
            height: auto;
        }
    


.P1_app__notification__local-menu {
    text-align: center;
    padding: 2px 3px;margin: 7px;
}

.P1_app__notification__user {
    padding: 0 8px;
    margin-bottom: 5px;height: 80px;
}	
    .P1_app__notification__user--photo {
        display: inline-block;
        width: 50px;
        height: auto;
        margin-right: 18px;
        margin-top: 23px;
        border-radius: 10px;
        border: 1px solid #4E6BA0;
    }
    
    .P1_app__notification__user--details {
        position: relative;
        top: 25%;
        display: inline-block;text-align: center;
    }
     #bocDeGlypsDeSecurite{
        display: flex;
        flex-direction:row;
        justify-content:space-between;
     }       
    a.iconeSecu{
        display: block;
        height: 16px;;
    }    
