
:root{
    --font-color: #12368D;
    --link-color: #0002FD;
    --border-color: #8398BD;
    --border-color-dark: #4C6D9E;
    --largeurResolution:2560px;
    --hauteurResolution:1500px;
    --RATIO_ResponsiveLargeur:calc(var(--largueur_fenetre) / var(--largeurResolution));
    --RATIO_ResponsiveHauteur:calc(var(--hauteur_fenetre) / var(--hauteurResolution));
}
/* DEVELOPEE AVEC UNE RESOLUTION DE 2560 * 1253 */

/* TOUTES LES INSTRUCTION DE CETTE PAGE SUIVENT CET ORDRE DE CLASSEMENT : */
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */

/* PARTIE 01 ==> ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- CADRE ==> */
    .P1_connexion_ASonCompte{
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
            --largrurEnDev: 2450;
            --hauteurEnDev: 1500;
           
            width: calc(var(--largrurEnDev) * var(--RATIO_ResponsiveLargeur));
            height: calc(var(--hauteurEnDev) * var(--RATIO_ResponsiveHauteur));

        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    } 
    .P1_app {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
            height: 100%;
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
            background-color: #fff;
        /* BORDURE */
            border: 1px solid var(--border-color);
            border-radius: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        /* POLICE / CONTENU */
            color: var(--font-color);
            font-family: sans-serif;
            --tailleDev: 27;
            font-size: calc(var(--tailleDev) * var(--RATIO_ResponsiveHauteur));

        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
/* <== PARTIE 01 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- <== CADRE */

/* PARTIE 02 ==> ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- EN-TETE ==> */
    .P1_app__title { /* general */
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        display: grid;
        grid-template-columns: 5% 1fr 5%;justify-content: center;
        /* TAILLE */
        /* MARGE INT./EXT. */
            margin-bottom: 2em; 
            padding: 0 3px 0 3px;
        /* ARRIERE PLAN */
            background: white linear-gradient(to bottom, #C0D4E9, #ECF0F4, #F8F8F8);
        /* BORDURE */
            border: 1px solid white;
            border-radius: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        /* POLICE / CONTENU */
            text-align: left;
            font-weight: bolder;
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }.P1_app__title--main{justify-content: center; display: flex;}
    .P1_app__icon__expand { /* reduire / agrandir */
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            position: relative;align-items:center;display: flex;justify-content: center;
            top: 0;
            grid-column: 1 / 2;
    
        /* TAILLE */
        /* MARGE INT./EXT. */
            margin: 1.5% 39% 1.5% 39%;
        /* ARRIERE PLAN */ 
            background: white linear-gradient(200deg, white 25%, #B1C9E2 75%, #9DB2D7 );
        /* BORDURE */
            border-radius: 50%;
            border: 1px solid var(--border-color);
        /* POLICE / CONTENU */
            font-family: monospace;
            
            --tailleDev: 25;
            font-size: calc(var(--tailleDev) * var(--RATIO_ResponsiveHauteur));

            font-weight: bolder;
        /* ANIMATIONS / EFFETS */
            transform: rotate(-90deg);
        /* AUTRES */        
    }
    .P1_app__title--logo {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            display: inline-block;
            position: relative;
            top: 3px;
        /* TAILLE */
            --largrurEnDev: 66;
           
            width: calc(var(--largrurEnDev) * var(--RATIO_ResponsiveLargeur));
            height: auto;
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    #logo_msn_Menu{/* logo MSN */
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */ 
            width: 100%;
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
/* <== PARTIE 02 ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- <== EN-TETE */

/* PARTIE 03 ==> ------------------------------------------------------------------------------------------------------------------------------------------------------------ CADRE DE CONNEXION ==> */
    .P1_app__frame { /* cadre */
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            position: relative;
        /* TAILLE */
            height: 91.9%;
        /* MARGE INT./EXT. */
            padding: 5px;
        /* ARRIERE PLAN */
            background: white linear-gradient(to bottom, white, #EEF2F6, #DFE7EF, #CADAEB, #DFE7EF, #EEF2F6, white);
        /* BORDURE */
        /* POLICE / CONTENU */ 
            text-align: center;
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }	
    .P1_app__frame--bg { /* arriere-plan ==> plus utilise */
        /* Z-INDEX */
            z-index: 1;
        /* POSITION / AFFCHAGE */
            position: absolute; 
            bottom: 1em; 
            right: 0.25em;
        /* TAILLE */
            width: 150px;
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
            opacity: 0.15;
        /* AUTRES */
    }
    .P1_app__profile--image { /* avatar (image) */
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
            width: 98px;
            height: auto;
        /* MARGE INT./EXT. */
            margin: auto;
            margin-bottom: 0.75em;
        /* ARRIERE PLAN */
        /* BORDURE */
            border-radius: 10px;
            border: 1px solid var(--border-color-dark);
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .P1_app__login label {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
            line-height: 1.5;
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .P1_app__login-inner { /* bloc de connexion */
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
        /* MARGE INT./EXT. */
            padding: 0 4em;
            margin: auto;
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
            text-align: left;
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .P1_app label,
    .P1_app select {/* intitule des zones a remplir */
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            display: block;
        /* TAILLE */
        /* MARGE INT./EXT. */
            margin: auto;
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .P1_app input { /* zone de saisie */
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
            border: 1px solid var(--border-color);
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .P1_app__login-inner--select {/* liste deroulante (status et langue) --general-- */
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
        /* MARGE INT./EXT. */
            margin-bottom: 1.5em;
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .P1_app__login-inner--select select,
    .P1_app__login-inner--select label {/* liste deroulante (status et langue) --texte et zone de saisie-- */
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            display: inline-block;
            vertical-align: bottom;
        /* TAILLE */
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    #blocSaisieMail {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
        /* MARGE INT./EXT. */
            padding: 3px 5px;
            margin-bottom: 1em;
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }   
    .P1_app__login--pass {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
        /* MARGE INT./EXT. */
            padding: 3px 5px;
            margin-bottom: 1em;
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }	
    .P1_app__login--pass:active {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
            background: transparent;
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .P1_app__login--status { /* status a afficher a la connexion */
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
            background: none;
        /* BORDURE */
            border: 1px solid transparent;
        /* POLICE / CONTENU */
            color: var(--font-color);
            font-size: inherit;
            font-family: inherit;
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }		
    .P1_app__login--status:focus {/* lorsqu'on est en train de choisir le status */
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */ 
            background: white;
        /* BORDURE */
            outline: none; 
            border: 1px solid var(--border-color);
            border-radius: 2px;
            box-shadow: -1px -2px 3px 0 rgba(0,0,0,0.5);
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    #bocDeGlypsDeSecurite{
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            display: flex;
            flex-direction:row;
            justify-content:space-between;
        /* TAILLE */
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
     }       
    a.iconeSecu{
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            display: block;
        /* TAILLE */
            height: 16px;
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }            
    .P1_app__login-link {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            display: block;
            text-align: left;
        /* TAILLE */
            line-height: 1.75;
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
            color: var(--link-color);
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .P1_app__login-link--container {
        /* Z-INDEX */
            z-index: 2;
        /* POSITION / AFFCHAGE */
            position: relative;
        /* TAILLE */
        /* MARGE INT./EXT. */
            padding-left: 2em;
            padding-right: 2em;
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .P1_app__login-link--service-status {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            display: inline-block;
        /* TAILLE */
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
            text-decoration: none;
        /* ANIMATIONS / EFFETS */
        /* AUTRES */

    }
    .P1_app__login-link--new-account { /* class non utilisee */
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            display: inline-block;
            /*float: right;*/
            clear: both;
        /* TAILLE */
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */



        
    }
        .P1_app__login-button { /* validation des choix de connexion */
        /* Z-INDEX */ 
            z-index: 3;
        /* POSITION / AFFCHAGE */
            display: block;
            position: relative;
        /* TAILLE */
            line-height: 1.5;
        /* MARGE INT./EXT. */
            padding: 0.25em 1.5em;
            margin: auto;
            margin-top: 2em;
            margin-bottom: 3em;
        /* ARRIERE PLAN */
            background: white linear-gradient(to bottom, white, #D9E1FA);
        /* BORDURE */
            border: 1px solid #064381; 
            border-radius: 3px;
            box-shadow:
                inset -1px -2px 0 0 orange,
                inset 1px 1px 0 0 orange,
                -2px -1px 3px 0 rgba(0,0,0,0.35);
        /* POLICE / CONTENU */
            color: #064381;
            font-weight: bold;
            font-family: "MS Reference Sans Serif", "Arial";
            font-size: 11px;
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
            cursor: pointer;
    }
/* <== PARTIE 03 ------------------------------------------------------------------------------------------------------------------------------------------------------------ <== CADRE DE CONNEXION */

/* PARTIE 04 ==> ------------------------------------------------------------------------------------------------------------------------------------------------------------------ PIED DE PAGE ==> */
    .app__footer {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            text-align: left;
        /* TAILLE */
        /* MARGE INT./EXT. */
            margin-top: 4em;
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .P1_app__footer--credits {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
        /* MARGE INT./EXT. */
            margin: 0;
            margin-left: 3px;
            margin-bottom: 3px;
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .app__input--text { /* class non utilisee */
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
            width: 100%;
        /* MARGE INT./EXT. */
            margin-bottom: 0.75em;
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
/* <== PARTIE 04 ------------------------------------------------------------------------------------------------------------------------------------------------------------------ <== PIED DE PAGE */
 
/* PARTIE 05 ==> ----------------------------------------------------------------------------------------------------------------------------------------------------- NOTIFICATION DE CONNEXION ==> */
    .P1_app__notification {
        /* Z-INDEX */z-index: 5;
        /* POSITION / AFFCHAGE */
            display: none;
            position: absolute;
            bottom: 0;
            right: 18px;
        /* TAILLE */
            width: 180px;
        /* MARGE INT./EXT. */
            padding: 1px;
        /* ARRIERE PLAN */background: white;
        /* BORDURE */
            border: 1px solid #A6B4CF;
            border-right-color: #455690;
            border-bottom-color: #455690;
            box-shadow:
                inset 1px 1px 0 0 white,
                inset -1px -1px 0 0 #CFDEF4;
        /* POLICE / CONTENU */
            color: var(--font-color);
            font-family: sans-serif;
            font-size: 11px;
        /* ANIMATIONS / EFFETS */
            animation: notification-pop-up 0.5s ease-in forwards;
        /* AUTRES */
    }
    .P1_app__notification__title {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
            line-height: 2;
        /* MARGE INT./EXT. */
            padding-left: 4px;
            padding-right: 4px;
        /* ARRIERE PLAN */
            background: white linear-gradient(to bottom, #CFD7EC, white 40%, #CADAF3 90%);
        /* BORDURE */
        /* POLICE / CONTENU */ 
            color: var(--font-color);
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }	
    .P1_app__notification__title--icon {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            position: relative;
            top: 2px;
        /* TAILLE */
            width: 13px;
            height: auto;
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .P1_app__notification__close {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            position: absolute;right: 0;
        /* TAILLE */
            line-height: 1;
        /* MARGE INT./EXT. */
            margin: 3px 4px;
            padding: 2px 3px;
        /* ARRIERE PLAN */
            background: #E6440D linear-gradient(160deg, rgba(255,255,255,0.5), #E6440D);
        /* BORDURE */
            border: 1px solid transparent;
            border-bottom-color: #C23D1B;
            border-right-color: #C64423;
            border-left-color: #E35F3E;
            border-top-color: #E66D50;
            border: 1px solid white;
            border-radius: 1px;
        /* POLICE / CONTENU */
            color: white;
            font-family: monospace;    
            font-weight: bolder;
            font-size: 9px;
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
            cursor: pointer;
    }
    .P1_app__notification__inner {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */   
            text-align: right;
        /* TAILLE */ height: 100px;
        /* MARGE INT./EXT. */ 
            margin-right: 3px;
        /* ARRIERE PLAN */
            background: white linear-gradient(to bottom, #CFDDF4, white 17%, #D5E1F5, #EBF0FA);
        /* BORDURE */
            border: 1px solid #728EB8;
            border-bottom-color: #B9C9EF;
            border-right-color: #B9C9EF;
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }	
    .P1_app__notification__inner--logo img {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
            width: 41px;
            height: auto;
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .P1_app__notification__user {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
            height: 80px;
        /* MARGE INT./EXT. */
            padding: 0 8px;
            margin-bottom: 5px;
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }	
    .P1_app__notification__user--photo {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            display: inline-block;
        /* TAILLE */
            width: 50px;
            height: auto;
        /* MARGE INT./EXT. */
            margin-right: 18px;
            margin-top: 23px;
        /* ARRIERE PLAN */
        /* BORDURE */
            border-radius: 10px;
            border: 1px solid #4E6BA0;
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
        
    }    
    .P1_app__notification__user--details {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            position: relative;
            top: 25%;
            display: inline-block;
            text-align: center;
        /* TAILLE */
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .P1_notification-username{
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
            font-weight: bold;
            font-size: 15px;
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .P1_app__notification__local-menu {/* class non utilisee */
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            text-align: center;
        /* TAILLE */
        /* MARGE INT./EXT. */
            padding: 2px 3px;
            margin: 7px;
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    @keyframes notification-pop-up {
        0% {
            height: 0;
            opacity: 0;
            transform: translateY(100%);
        }
        100% {
            opacity: 1; 
            transform: translateY(0);
        }
    }
/* <== PARTIE 05 ----------------------------------------------------------------------------------------------------------------------------------------------------- <== NOTIFICATION DE CONNEXION */

/* PARTIE 07 ==> ------------------------------------------------------------------------------------------------------------------------------------------------- glasomorphisme zone de saisie ==> */
    #saisiePseudo{
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */ 
            background-color: transparent;
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    #saisiePseudo:focus {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
            border:1px solid var(--border-color);
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .P1_app__login--pseudo {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            position: relative;
        /* TAILLE */
        /* MARGE INT./EXT. */
            padding: 20px;
        /* ARRIERE PLAN */ 
            background: rgba(255, 255, 255, 0.2);
        /* BORDURE */ 
            border-radius: 10px;
            box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
            backdrop-filter: blur(10px);
        /* AUTRES */
    }
    #saisiePseudo {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
            height: 16.5px;
            width: 128px;
        /* MARGE INT./EXT. */
            padding: 10px;
        /* ARRIERE PLAN */    
            background: none;
        /* BORDURE */
            border: none;
            outline: none;
        /* POLICE / CONTENU */
            color: var(--font-color);
            font-size: 16px;
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    ::placeholder {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
            color: #fff;
        /* ANIMATIONS / EFFETS */
            opacity: 0.7;
        /* AUTRES */
    }
/* <== PARTIE 07 ------------------------------------------------------------------------------------------------------------------------------------------------- <== glasomorphisme zone de saisie */

/* PARTIE 08 ==> ----------------------------------------------------------------------------------------------------------------------------------------------------------------- case a cocher ==> */ /*===> revoir les positions <=== */

    .P1_app__login-inner--checkbox {/* case à cocher -- position -- */
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            display: inline-block;
            vertical-align: text-bottom;
        /* TAILLE */
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .P1_app__login-inner--checkbox input[type="checkbox"] {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            /*-webkit-appearance: none;*/
            display: inline-block;
            position: relative;
            top: 4px;
        /* TAILLE */
        /* MARGE INT./EXT. */
            padding: 6px;
        /* ARRIERE PLAN */
            background: white linear-gradient(125deg, #DBDBDB, white 75%);
        /* BORDURE */
            border: 1px solid var(--border-color);
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .P1_app__login-inner--checkbox input[type="checkbox"]:checked + label {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
            background-color: #e9ecee;
        /* BORDURE */
            border: 1px solid var(--border-color);
        /* POLICE / CONTENU */
            color: #333;
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }
    .P1_app__login-inner--checkbox input[type="checkbox"]:checked + label::after {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            position: absolute;
            left: 70px;
        /* TAILLE */
        /* MARGE INT./EXT. */
        /* ARRIERE PLAN */
            background-color: red;
        /* BORDURE */
        /* POLICE / CONTENU */
            font-size: 10px;
            font-weight: bolder;
            color: #43ae43; 
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
            content: '\2714';
    }
/* <== PARTIE 08 ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- case a cocher*/ /*===> revoir les positions <=== */