/*  PARTIE RESPONSIVE  */

@media (max-width: 500px) {/* EXCEPTIONS */

    #listDeroulStatut, #listDeroulLang{height: 60%;font-size: calc(10px*var(--RATIO_ResponsiveLargeur)); }
  }





#P1_Cadreinterieur {
    /* Z-INDEX */
    /* POSITION / AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
        background-color: #fff;
    /* BORDURE */
        border: 1px solid var(--border-color);
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    /* POLICE / CONTENU */
        color: var(--font-color);
        font-family: sans-serif;
        font-size: calc(38px * var(--RATIO_ResponsiveHauteur));

    /* ANIMATIONS / EFFETS */
    /* AUTRES */
}

#P1_enTete {
    /* Z-INDEX */
    /* POSITION / AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
        /*margin-bottom: 2em; */
        padding: 0 3px ;
    /* ARRIERE PLAN */
        background: white linear-gradient(to bottom, #C0D4E9, #ECF0F4, #F8F8F8);
    /* BORDURE */
        border: 1px solid white;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    /* POLICE / CONTENU */
        text-align: left;
        font-weight: bolder;
    /* ANIMATIONS / EFFETS */
    /* AUTRES */
}

#P1_menuEntete { /* reduire / agrandir */
    /* Z-INDEX */
    /* POSITION / AFFCHAGE */
    display: flex;
    justify-content: center;
    align-items: center;
        position: relative;
        top: 0;
        grid-column: 1 / 2;
    /* TAILLE */
        width: calc(49px*var(--RATIO_ResponsiveHauteur));
        height: calc(49px*var(--RATIO_ResponsiveHauteur));
    /* MARGE INT./EXT. */
        /*margin: 3% 50% 3% 10%;*/
        margin: 0 17.5% 0 10.5% ;
    /* ARRIERE PLAN */ 
        background: white linear-gradient(20deg, white 25%, #B1C9E2 75%, #9DB2D7 );
    /* BORDURE */
        border-radius: 50%;
        border: 1px solid var(--border-color);
    /* POLICE / CONTENU */
        font-family: monospace;
        font-size:calc(37px*var(--RATIO_ResponsiveHauteur)); 

       
    /* ANIMATIONS / EFFETS */
        transform: rotate(-90deg);
    /* AUTRES */        
}

#P1_titrePartie{
    /* Z-INDEX */
    /* POSITION / AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE / CONTENU */ 
        font-size:calc(47px*var(--RATIO_ResponsiveHauteur)); 
    /* ANIMATIONS / EFFETS */
    /* AUTRES */
}

#logo_msn_Menu {
    /* Z-INDEX */
    /* POSITION / AFFCHAGE */
    /* TAILLE */
        --largrurEnDev: 70px;
        height: calc(47px*var(--RATIO_ResponsiveHauteur)); 
    
        width: auto;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE / CONTENU */
    /* ANIMATIONS / EFFETS */
    /* AUTRES */
}

#P1_cadreCorpConnexion { /* cadre */
    /* Z-INDEX */
    /* POSITION / AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE / CONTENU */ 
        text-align: center;
    /* ANIMATIONS / EFFETS */
    /* AUTRES */
}

#P1_cadreAvatar{ /* avatar de l utilisateur */
    /* Z-INDEX */
    /* POSITION / AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
        padding: 0.2%;
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE / CONTENU */
    /* ANIMATIONS / EFFETS */
    /* AUTRES */
}

#P1_avatarUtilisateur { /* avatar (image) */
    /* Z-INDEX */
    /* POSITION / AFFCHAGE */
    /* TAILLE */
        height: 100%;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
        border-radius: 10px;
        border: 1px solid var(--border-color-dark);
    /* POLICE / CONTENU */
    /* ANIMATIONS / EFFETS */
    /* AUTRES */
}
.ensembleSaisieConfirmation{height: 50%;padding: 5px 0 10px 0;}
#listDeroulStatut, #listDeroulLang{height: 60%;font-size: calc(37px*var(--RATIO_ResponsiveHauteur)); }
#P1_zoneDeSaisie{ /* ensemble des zones de saisie */
    /* Z-INDEX */
    /* POSITION / AFFCHAGE */            
        flex-direction: column;
    /* TAILLE */height: 100%;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE / CONTENU */
    /* ANIMATIONS / EFFETS */
    /* AUTRES */
}

#P1_cadreInterieurZoneSaisie { /* bloc de connexion */
    /* Z-INDEX */
    /* POSITION / AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
        /*margin: auto;*/
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE / CONTENU */
    /* ANIMATIONS / EFFETS */
    /* AUTRES */
}

/* ** */.P1_Saisie{ /* regles par zone */
    /*margin: 6px;*/
    flex-direction: column;
    width: 100%;
    
}

/* ** */.ensembleSaisieConfirmation{/*<Span> sontenant <input> */
    width: 100%;
}
.saisieListeDeroulante{
    display: flex;
    justify-content: center;
    align-items: center;

}
/* ** */.zoneDeSaisie{ /* <input> */ 
    width: 71%;height: 100%;font-size: calc(47px*var(--RATIO_ResponsiveHauteur)); 
}

.P1_validerSaisie{/* bouton de confirmation de saisie */
    height:calc(57px*var(--RATIO_ResponsiveHauteur)); 
    color: var(--font-color);
}

/* ** */#blocSaisiePseudo{ /* pseudo */
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

/* ** */#blocSaisieMail{ /* @mail */
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

/* ** */#blocSaisieMDP{ /* mot de passe */
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
    
/* ** */#blocSaisieConfirmMDP{ /* confirmation MDP */
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

/* ** */#blocSaisieStatut{ /* statut */
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

/* ** */#blocSaisieLangue{ /* langue */
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}


#lesGlyphesEtLeTexte{
    grid-row: 5 / 6;
    grid-column: 1 / span 2;
display: grid;
grid-template-rows: 2fr;width: 100%;
}

/* ** */#GlyphAChoisir{ /* glyphe a choisir 
    grid-row: 5 / 6;
    grid-column: 1 / 2;*/width: 100%;margin-bottom: calc(30px*var(--RATIO_ResponsiveHauteur));
}

/* ** */#bocDeGlypsDeSecurite{ /* ensemble de glyphes de securite 
    grid-row: 5 / 6;
    grid-column: 2 / 3;*/
    /*justify-content: space-between;*/width: 100%;margin-top: calc(30px*var(--RATIO_ResponsiveHauteur));height: calc(40px*var(--RATIO_ResponsiveHauteur));
}

#blocBouttonRadio{
    grid-row: 4 / 5;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-rows: 3fr;width: 100%;
    }
/* ** */#bloccheckRemember{ /* pre-remplissage automatique 
    grid-row: 4 / 5;
    grid-column: 1 / 2;*/
}

/* ** */#bloccheckMDP_Perdu{ /* MDP perdu 
    grid-row: 4 / 5;
    grid-column: 2 / 3;*/
}





.iconeSecu img{
width: calc(30px*var(--RATIO_ResponsiveHauteur));    
}
.iconeSecu{
margin: 0 calc(30px*var(--RATIO_ResponsiveHauteur));

}

/* ** */#messageInfoConnexion{ /* message d information */
    grid-row: 6 / 7;
    grid-column: 1 / span 2;
}

/* ** */#P1_app__login-button{ /* boutton de connexion */
    grid-row: 7 / 8;
    grid-column: 1 / span 2;
    font-size:calc(20px*var(--RATIO_ResponsiveHauteur));
}
#texteDeConnexion{
    font-size:calc(40px*var(--RATIO_ResponsiveHauteur));
}
#messageInfoConnexion{
    text-align: center;
    font-weight: bold;
    scale: 1.2;
    height: 40px;
}

.P1_app__notification {
    /* Z-INDEX */
    /* POSITION / AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE / CONTENU */
        color: var(--font-color);
        font-family: sans-serif;
        font-size: 11px;
    /* ANIMATIONS / EFFETS */
    /* AUTRES */
}

.P1_app__notification__title {
    /* Z-INDEX */
    /* POSITION / AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE / CONTENU */ 
        color: var(--font-color);
    /* ANIMATIONS / EFFETS */
    /* AUTRES */
}	

.P1_app__notification__title--icon {
    /* Z-INDEX */
    /* POSITION / AFFCHAGE */
        position: relative;
        top: 2px;
    /* TAILLE */
        width: 13px;
        height: auto;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE / CONTENU */
    /* ANIMATIONS / EFFETS */
    /* AUTRES */
}

.P1_app__notification__close {
    /* Z-INDEX */
    /* POSITION / AFFCHAGE */
        position: absolute;
        right: 0;
    /* TAILLE */
        line-height: 1;
    /* MARGE INT./EXT. */
        margin: 3px 4px;
        padding: 2px 3px;
    /* ARRIERE PLAN */
        background: #E6440D linear-gradient(160deg, rgba(255,255,255,0.5), #E6440D);
    /* BORDURE */
        border: 1px solid transparent;
        border-bottom-color: #C23D1B;
        border-right-color: #C64423;
        border-left-color: #E35F3E;
        border-top-color: #E66D50;
        border: 1px solid white;
        border-radius: 1px;
    /* POLICE / CONTENU */
        color: white;
        font-family: monospace;    
        font-weight: bolder;
        font-size: 9px;
    /* ANIMATIONS / EFFETS */
    /* AUTRES */
        cursor: pointer;
}

.P1_app__notification__inner--logo img {
    /* Z-INDEX */
    /* POSITION / AFFCHAGE */
    /* TAILLE */
        width: auto;
        height: 100%;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE / CONTENU */
    /* ANIMATIONS / EFFETS */
    /* AUTRES */
}

#P1_app__notification__user--photo img{
    border-radius: 10px;
    border: 1px solid #4E6BA0;

}

.P1_notification-username{
    /* Z-INDEX */
    /* POSITION / AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE / CONTENU */
        font-weight: bold;
        font-size: 15px;
    /* ANIMATIONS / EFFETS */
    /* AUTRES */
}

.P1_app__notification__local-menu {/* class non utilisee */
    /* Z-INDEX */
    /* POSITION / AFFCHAGE */
        text-align: center;
    /* TAILLE */
    /* MARGE INT./EXT. */
        padding: 2px 3px;
        margin: 7px;
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE / CONTENU */
    /* ANIMATIONS / EFFETS */
    /* AUTRES */
}

