/* Z-INDEX */
/* POSITION/AFFCHAGE */
/* TAILLE */
/* MARGE INT./EXT. */
/* ARRIERE PLAN */
/* BORDURE */
/* POLICE/CONTENU */
/* ANIMATIONS/EFFETS */
/* AUTRES */

  :root{ /* variable pour utilisation dans ce document */
    --borderRadius: 6px;
    --largeurCadre:475px;
  }


/* 1 -> Ensemble de la page */



  .P3_containerprinc { /* 1.3 contenu a afficher */
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      display: flex;
      justify-content: center;
      align-items: center;
    /* TAILLE */
    /* MARGE INT./EXT. */
      margin: 28vh auto;
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

/* 1 <- Ensemble de la page */


/* 2 -> contenu de la fenetre de discution */
  .P3_msn-messenger-window>.P3_container {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      position: relative;
      display: grid;
      /*overflow: hidden;*/
    /* AFFCHAGE */
    /* TAILLE */
      width:475px;                    
      height:400px;                  
      grid-template-rows: 60px 1fr 140px 24px;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */  
      background: #D7E4F5 url(frame/main-background.png) bottom 20px right no-repeat;
    /* BORDURE */
      border-radius:var(--borderRadius);
      box-shadow:
      2px 2px 5px #0009,
      5px 5px 10px #000c;
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */  
      transform: translate(var(--x, 0), var(--y, 0)); 
    /* AUTRES */
  }

  .P3_msn-messenger-window>.P3_container .P3_border-window {  /* 2.2 bordure du cadre */
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      position: absolute;
      bottom: 0;
      left: 0;
    /* AFFCHAGE */
    /* TAILLE */
      width: 100%;
      height: 100%;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
      background-image:
        url(frame/main-corner-left.png),
        url(frame/main-corner-right.png),
        url(frame/main-left.png),
        url(frame/main-right.png),
        url(frame/main-bottom.png);
      background-repeat: no-repeat, no-repeat, repeat-y, repeat-y, repeat-x;
      background-position: bottom left, bottom -1px right, bottom left, bottom right, bottom;
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
      clip-path: polygon(0 14.5%, 100% 5%, 100% 100%, 0 100%);
    /* AUTRES */
      pointer-events: none;
  }
/* 2 <- contenu de la fenetre de discution */


/* 3 -> barre de menu */
  .P3_msn-messenger-toolbar>.P3_container { /* ensemble barre de menu */
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */ 
      position: relative;
      display: grid;
    /* TAILLE */
      width: 100%;
      height: 100%;
      grid-template-columns: 310px 1fr;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
      border-radius: var(--borderRadius) var(--borderRadius) 0 0;
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */   
  }

  .P3_toolbar-container { /* partie gauche des menus */
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      display: grid;  
      align-items: center;
    /* TAILLE */ 
      grid-template-columns: 40px 56px 44px 40px 54px 44px;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
      background: url(frame/toolbar-background.png) repeat;
      background-size: contain;
    /* BORDURE */
    /* POLICE/CONTENU */
      justify-content: flex-end;
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_up-down {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      position: absolute;
      top: 2px;
      left: 2px;
    /* TAILLE */
      --image-size: 15px;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_toolbar-small-container { /* ensemble de la partie droite des menus */
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      display: grid;
    /* TAILLE */  
      grid-template-columns: 50px 50px 37px 28px; 
      height: 100%;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */   
  }

  .P3_toolbar-small-container .P3_left {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */ 
      background: url(frame/small-toolbar-left-background.png) no-repeat;
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */     
  }

  .P3_toolbar-small-container .P3_center {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
      background:
        url(../00_general/icones/fixe/logoMSN.png) top left 4px,/*50*21*/
        url(frame/small-toolbar-center-background.png);
      background-repeat: no-repeat, repeat-x;
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_toolbar-small-container .P3_right {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
      background: url(frame/small-toolbar-right-background.png) no-repeat;
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_toolbar-small-container .P3_end {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
      background: url(frame/small-toolbar-end-background.png) repeat;
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_center .P3_buttons {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      display: flex;
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
      gap: 0 4px;
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
      transform: translate(2px, 23px);
    /* AUTRES */
  }

  .P3_center .P3_image-circular-button {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
      --size: 19px;
      --image-size: 13px;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_image-button .P3_container { /* chaque icone de la barre de menu */
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_image-button .P3_container .P3_text {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
      font-family: Verdana;
      font-size: 10.5px;
      letter-spacing: -0.25px;
      color: #434C4B;
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_image-button .P3_container .P3_text span {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
      text-decoration: underline;
    /* ANIMATIONS/EFFETS */
    /* AUTRES */   
  }

  .P3_image-circular-button>.P3_container {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      display: flex;
      justify-content: center;
      align-items: center;
    /* TAILLE */
      width: var(--size, 16px);
      height: var(--size, 16px);
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
      background: url(frame/small-circle-button.png) no-repeat;
      background-size: cover;
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */    
  }

  .P3_image-circular-button>.P3_container img {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
      width: var(--image-size, 11px);
      height: var(--image-size, 11px);
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }
/* 3 <- barre de menu */


/* 4 -> destinataire */



  .P3_msn-messenger-remote-user .P3_container {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      display: grid;
    /* TAILLE */
      width: 100%*var(--largeurCadre);
      height: 92%;

      grid-template-columns: 1fr 140px;
    /* MARGE INT./EXT. */
      margin: 4px 8px;
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */  
  }



.P3_msn-messenger-history-chat>.P3_container {
  /* Z-INDEX */
  /* POSITION/AFFCHAGE */
    display: grid;
    justify-content: center;
  /* TAILLE */
    width: 97%;
    height: 100%;

    grid-template-columns: 1fr;
    grid-template-rows: 28px 1fr;
  /* MARGE INT./EXT. */
    margin: 2px 1px;
  /* ARRIERE PLAN */
  /* BORDURE */
    border: 1px solid #586170;
    border-radius: 8px 8px 0 0;
  /* POLICE/CONTENU */
    font-family: Verdana;
    font-size: 10px;
  /* ANIMATIONS/EFFETS */
  /* AUTRES */    
}

  .P3_msn-messenger-history-chat .P3_container .P3_subject {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      display: flex;
      align-items: center;
      justify-content: center;
    /* TAILLE */
    /* MARGE INT./EXT. */
      padding-left: 6px;
    /* ARRIERE PLAN */
      background: #EEF0FD;
    /* BORDURE */
      border-radius: 8px 8px 0 0;
      border-bottom: 1px solid #586170;
    /* POLICE/CONTENU */
    font-weight: bold;
    /* ANIMATIONS/EFFETS */
    /* AUTRES */

  }

  .P3_msn-messenger-history-chat .P3_container .P3_subject strong {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
      padding-left: 30px;
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_msn-messenger-history-chat .P3_container #historiqueMess {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
      background: #fff;
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */   
  }
/* 4 <- destinataire */


/* 5 -> Avatar */
  .P3_msn-messenger-avatar .P3_container {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      position: relative;    
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    /* TAILLE */
      width: 114px;
      height: 114px;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
      border: 1px solid #586170;
      border-radius: 8px;
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_msn-messenger-avatar .P3_container .P3_picture {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
      width: 96px;
      height: 96px;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
      border: 1px solid #586170;
      border-radius: 8px;
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
      transform: translateY(4px);
    /* AUTRES */  
  }

  .P3_msn-messenger-avatar .P3_container .P3_down { /* fleche bas en dessous de l'avater */
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      align-self: flex-end;
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
      background: transparent;
    /* BORDURE */
      border: 0;
    /* POLICE/CONTENU */
      color: #4D5967;
    /* ANIMATIONS/EFFETS */
      transform: scaleY(0.5);
    /* AUTRES */  
  }

  .P3_msn-messenger-avatar .P3_container .P3_expand {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      position: absolute;
      top: 4px;
      right: -9px;
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */  
  }
/* 5 <- Avatar */



/* 6 -> cadre de chat */
  .P3_msn-messenger-local-user>.P3_container { 
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */  
      display: grid;
    /* TAILLE */
      width: 100%;
      height: 100%;

      grid-template-columns: 1fr 140px;
    /* MARGE INT./EXT. */
      margin: 4px 8px;
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_msn-messenger-chat>.P3_container {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */ display: grid;
    /* TAILLE */
      min-height: 122px;
      width: 97%;

      grid-template-rows: 24px 1fr 24px;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
      background: #fff;
    /* BORDURE */
      border: 1px solid #586170;
      border-radius: 6px;    
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_actionbar,
  .P3_tabs {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
      background: linear-gradient(#D8E8F7, #F5F2F9, #D8E8F7);
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_actionbar {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */ 
      display: flex;
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
      border-bottom: 1px solid #586170;
      border-radius: 6px 6px 0 0;
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_tabs {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      display: flex;
      justify-content: flex-end;    
    /* TAILLE */
    /* MARGE INT./EXT. */
      padding-right: 12px;
    /* ARRIERE PLAN */
    /* BORDURE */
      border-top: 1px solid #565F70;
      border-radius: 0 0 6px 6px;
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */  
  }

  .P3_chat {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      display: flex;
      justify-content: flex-end;
    /* TAILLE */
    /* MARGE INT./EXT. */
      margin: 3px;
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_chat .P3_buttons {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      display: flex;
      flex-direction: column;
    /* TAILLE */
    /* MARGE INT./EXT. */
      gap: 3px 0;
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_normal {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
      width: 58px;
      height: 37px;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
      background: #FBFBFB;
    /* BORDURE */
      border: 1px solid #93989C;
      border-radius: 5px;
    /* POLICE/CONTENU */
      font-family: Tahoma;
      font-weight: bold;
      font-size: 11px;
      color: #969C9A;
    /* ANIMATIONS/EFFETS */
      box-shadow: -4px -4px 4px #C0C9E0 inset;
    /* AUTRES */
  }

  .P3_normal span {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
      text-decoration: underline;
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_normal.P3_small {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
      height: 25px;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_simple-button>.P3_container {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      display: flex;
      align-items: center;
    /* TAILLE */
      height: 100%;
    /* MARGE INT./EXT. */
      padding: 0 6px;
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_simple-button>.P3_container .P3_container img {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
      height: 16px;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_container span:not(:empty) {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */ 
      display: inline-block;
    /* TAILLE */
      width: 50px;
    /* MARGE INT./EXT. */
      padding-left: 3px;
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
      font-family: Verdana;
      font-size: 10px;
      color: #444;
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_container button {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
      padding: 0;
    /* ARRIERE PLAN */
      background: transparent;
    /* BORDURE */
      border: 0;
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
      transform: scale(0.6);
    /* AUTRES */
  }

  .P3_tab-button>.P3_container {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */    
      display: flex;
      justify-content: center;
    /* TAILLE */
      min-width: 25px;
      height: 18px;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
      background: #EDF2F8;
    /* BORDURE */
      border: 1px solid #ABB0C6;
      border-top: 0;
      border-radius: 0 0 6px 6px;
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_tabs .P3_tab-button>.P3_container:focus {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
      background: #fff;
    /* BORDURE */
      border-bottom: 3px solid #E2C47B;
      border-top: 0;
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */    
      transform: translateY(-1px);
    /* AUTRES */
  }

  .P3_tab-button img {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
      width: 16px;
      height: 16px;
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_msn-messenger-statusbar>.P3_container {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
      position: relative;
      display: flex;
      align-items: center;
    /* TAILLE */
      width: 98%;
      height: 14px;
    /* MARGE INT./EXT. */
      padding-left: 8px;
    /* ARRIERE PLAN */    
      background: #FDFDFF;
    /* BORDURE */
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      border-top: 1px solid #505E67;
    /* POLICE/CONTENU */
    /* ANIMATIONS/EFFETS */
    /* AUTRES */    
  }

  .P3_msn-messenger-statusbar>.P3_container .P3_text {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
      font-family: Verdana;
      font-size: 10px;
      font-weight: bold;
      color: navy;
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_msn-messenger-statusbar>.P3_container .P3_text a {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
      color: black;
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }

  .P3_msn-messenger-statusbar>.P3_container .P3_text a:hover {
    /* Z-INDEX */
    /* POSITION/AFFCHAGE */
    /* TAILLE */
    /* MARGE INT./EXT. */
    /* ARRIERE PLAN */
    /* BORDURE */
    /* POLICE/CONTENU */
      color: darkred;
    /* ANIMATIONS/EFFETS */
    /* AUTRES */
  }






  .shake {
    animation: shake 0.5s ease-in-out;
  }

  @keyframes shake {
    0%, 100% {
        transform: translateX(0) translateY(0);
    }
    25%, 75% {
        transform: translateX(-55px) translateY(-25px);
    }
    50% {
        transform: translateX(55px) translateY(25px);
    }
  }





